@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Dosis:500|Overpass:600|Quicksand:600&display=swap');

$colorFondoBarraNavegacion: #d0bb99;
$colorFondoCuerpo: #ede8e0;
$colorFondoTarjetas: #f7f7f7;
$colorEnlaces: #3E425F;
$colorTexto: #595B23;
$fuenteEnlaces: 'Quicksand', sans-serif;
$fuentePrincipal: 'Quicksand', sans-serif;


.contenedorCuerpo{
  background-color: $colorFondoCuerpo;
  min-height: calc(100vh - 283px);
  height: 100%;
  padding-top: 1em;
  font-family: $fuentePrincipal;
  color: $colorTexto;
  padding-bottom: 20px;
}

button{
  font-family: $fuentePrincipal;
}

th, td, h5{
  color: $colorTexto;
}

mat-card-actions{
  margin: 0px;
}

.card-reader *{
  background-color: $colorFondoTarjetas;
}

.textoPequeño{
  font-size: 0.75em;
  color: grey;
  padding-left: 10px;
}

.cosechaElegida{
  color: red;
}

.deshabilitado{
  color: grey;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer-container{
  background-color: $colorFondoCuerpo;
}

.centrado{
  text-align: center;
}

.menu{
  height: 50px;
  min-height: 50px;  /*por defecto es de 64 pixeles*/
}

.error{
  font-size: 0.75em;
  color: red;
}

.navbar, .contenedorNavegacion, .dropdown-menu, .dropdown-item:hover, footer{
  background-color: $colorFondoBarraNavegacion !important;
  font-family: $fuenteEnlaces;
  //color: $colorNavegacion;
}

footer{
  color:$colorTexto;
  padding: 10px;
}

footer > *{
  font-size: 0.9em;
  font-family: $fuentePrincipal;
}

.nav-link, a, button{
  color: $colorEnlaces !important;
  padding: 5px;
}

.nav-link:hover, a:hover{
  box-shadow: inset 0 -2px 0 0 $colorEnlaces;
  color: $colorEnlaces !important;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand:hover, a.carousel-control-prev, a.carousel-control-next{
  box-shadow: none;
}

.carousel-item > img { width: 50%; margin: auto; }

h3{
  text-align: center;
}

/*.card{
  margin: 15px 0;
}*/

#accordion{
  margin: 15px 0px;
  width: 600px;
}


.mat-header-cell, th{
  padding: 10px;
  text-align: center;
  font-size: 14px;
//  background-color: $colorFondoCuerpo;

}

.mat-cell, td{
//  background-color: $colorFondoCuerpo;
  text-align: center;
  font-size: 12px;
}

.mat-table, table{
  font-family: $fuentePrincipal;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3E425F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3E425F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-caption > *, .carousel-indicators > *{
  color: $colorTexto;
}

.carousel-indicators li {
    background-color: $colorTexto;
}

.carousel-indicators .active {
    background-color: $colorEnlaces;
}


//************************************************//
.site-footer
{
  line-height:24px;
}
.site-footer h6
{
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }

}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  font-size: 1em;
  margin: 0 5px;
}

fa-icon{
  padding-right: 5px;
}

fa-icon:hover{
  color: $colorEnlaces;
  cursor: pointer;
}
