@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Dosis:500|Overpass:600|Quicksand:600&display=swap');

$colorFondoBarraNavegacion: #d0bb99;
$colorFondoCuerpo: #ede8e0;
$colorFondoTarjetas: #f7f7f7;
$colorEnlaces: #3E425F;
$colorTexto: #595B23;
$fuenteEnlaces: 'Quicksand', sans-serif;
$fuentePrincipal: 'Quicksand', sans-serif;

.contenedorCuerpo{
  background-color: $colorFondoCuerpo;
  min-height: calc(100vh - 185px);
  height: 100%;
  padding-top: 1em;
  font-family: $fuentePrincipal;
  color: $colorTexto;
}

th, td{
  color: $colorTexto;
}

.card-reader *{
  background-color: $colorFondoTarjetas;
}


.textoPequeño{
  font-size: 0.75em;
  color: grey;
  padding-left: 10px;
}

.cosechaElegida{
  color: red;
}

.deshabilitado{
  color: grey;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer-container{
  background-color: $colorFondoCuerpo;
}

.centrado{
  text-align: center;
}

.menu{
  height: 50px;
  min-height: 50px;  /*por defecto es de 64 pixeles*/
}

.error{
  font-size: 0.75em;
  color: red;
}

.navbar, .contenedorNavegacion, footer{
  background-color: $colorFondoBarraNavegacion !important;
  font-family: $fuenteEnlaces;
  //color: $colorNavegacion;
}

footer{
  color:$colorTexto !important;
}

footer > *{
  font-size: 0.9em;
  font-family: $fuentePrincipal;
}
/*a, button{
  font-family: $fuenteEnlaces;
  color: $colorEnlaces;
}*/

.nav-link, a, button{
  color: $colorEnlaces !important;
  padding: 5px;

}

.nav-link:hover, a:hover{
  box-shadow: inset 0 -2px 0 0 $colorEnlaces;
  color: $colorEnlaces !important;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand:hover, a.carousel-control-prev, a.carousel-control-next{
  box-shadow: none;
}

.carousel-item > img { width: 50%; margin: auto; }

h3{
  text-align: center;
}

/*.card{
  margin: 15px 0;
}*/

#accordion{
  margin: 15px 0px;
  width: 600px;
}


.card{
  width: 625px;

}

.mat-header-cell, th{
  padding: 10px;
  text-align: center;
  font-size: 14px;
//  background-color: $colorFondoCuerpo;

}

.mat-cell, td{
//  background-color: $colorFondoCuerpo;
  text-align: center;
  font-size: 12px;
}

.mat-table, table{
  font-family: $fuentePrincipal;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3E425F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3E425F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-caption > *, .carousel-indicators > *{
  color: $colorTexto;
}

.carousel-indicators li {
    background-color: $colorTexto;
}

.carousel-indicators .active {
    background-color: $colorEnlaces;
}


//************************************************//
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
