<section fxLayout="column" fxLayoutAlign="start center" class="contenedorPrincipal">
  <div *ngIf="!this.terminado">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <legend fxLayoutAlign="center center">
        Edición de parámetros para un tipo de vino
      </legend>
  <!--    <button mat-button color="primary" routerLink="/admin/maduracion">Nuevo parámetro</button>-->
    </div>
      <form [formGroup]="formulario" (submit)="guardarParametros()">
      <div fxFlex fxLayout="column" class="formulario">
        <mat-form-field>
          <mat-label for="tipo_vino">Tipo de vino</mat-label>
          <input matInput
          name="tipo_vino"
          formControlName="tipo_vino" readonly class="deshabilitado"
          />
          <mat-error *ngIf = "formulario.controls['tipo_vino'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="variedad_uva">Variedad de uva</mat-label>
          <input matInput
          name="variedad_uva"
          formControlName="variedad_uva" readonly class="deshabilitado"
          />
          <mat-error *ngIf = "formulario.controls['variedad_uva'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="sulfuroso">Sulfuroso</mat-label>
          <input matInput
          name="sulfuroso"
          formControlName="sulfuroso"
          />
          <mat-error *ngIf = "formulario.controls['sulfuroso'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['sulfuroso'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="grado">Grado alcohólico</mat-label>
          <input matInput
          name="grado"
          formControlName="grado"
          />
          <mat-error *ngIf = "formulario.controls['grado'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['grado'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="gluconico">Ácido glucónico</mat-label>
          <input matInput
          name="gluconico"
          formControlName="gluconico"
          />
          <mat-error *ngIf = "formulario.controls['gluconico'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['gluconico'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="malico">Ácido málico</mat-label>
          <input matInput
          name="malico"
          formControlName="malico"
          />
          <mat-error *ngIf = "formulario.controls['malico'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['malico'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="cata">Resultado de la cata</mat-label>
          <input matInput
          name="cata"
          formControlName="cata"
          />
          <mat-error *ngIf = "formulario.controls['cata'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['cata'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="acidez">Acidez</mat-label>
          <input matInput
          name="acidez"
          formControlName="acidez"
          />
          <mat-error *ngIf = "formulario.controls['acidez'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['acidez'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="ph">PH</mat-label>
          <input matInput
          name="ph"
          formControlName="ph"
          />
          <mat-error *ngIf = "formulario.controls['ph'].hasError('required')">
            <strong>Valor obligatorio</strong>
          </mat-error>
          <mat-error *ngIf = "formulario.controls['ph'].hasError('pattern')">
            <strong>Se necesita un valor numérico</strong>
          </mat-error>
        </mat-form-field>

        <button mat-button color="primary" type="submit" [disabled]="!formulario.valid">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="this.terminado">
    Ha terminado de configurar. El siguiente paso lógico es introducir muestras
    <button mat-button color="primary" routerLink="/admin/muestras">Introducir muestras</button>
  </div>
</section>
