<!--
<mat-toolbar color="primary">
   <mat-toolbar-row>
      <span><a href="/">HOME</a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/login">Login</a>
   </mat-toolbar-row>
</mat-toolbar>-->

<section class="contenedorNavegacion">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
       <img src="assets/imagenes/logotipo.png" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/configuracion/">Configuración <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/cosechas/">Cosechas<span class="sr-only">(current)</span></a>
        </li>
<!--        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Muestras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Maduración</a>
            <a class="dropdown-item" href="#">Vendimia</a>
            <a class="dropdown-item" href="#">Conservación</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/muestras/">Muestras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/estadisticas/">Estadísticas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="['far', 'user']"></fa-icon>{{usuario.usuario}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</section>
<section class="contenedorCuerpo">
  <router-outlet></router-outlet>
</section>

<!--
<mat-drawer-container class="vh">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-xs>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-sm="true">
        <button mat-button routerLink="/admin/configuracion/">Configuración</button>
        <button mat-button routerLink="/admin/cosechas">Cosechas</button>
        <button mat-button routerLink="/admin/muestras">Muestras</button>
        <button mat-button routerLink="/admin/tratamientos">Tratamientos</button>
        <button mat-button routerLink="/admin/resultados">Resultados</button>
        <button mat-button (click)="cerrarSesion()">Salir</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list fxLayout="column">
        <button mat-button routerLink="/admin/parametrosIdeales"><mat-icon>account_box</mat-icon>Configuración de parámetros</button>
        <button mat-button routerLink="/admin/muestras"><mat-icon>message</mat-icon>Toma de muestras</button>
        <button mat-button routerLink="estadisticas"><mat-icon>close</mat-icon>Estadísticas</button>
        <button mat-button routerLink="/admin/tratamientos"><mat-icon>settings</mat-icon>Registro de tratamientos</button>
        <button mat-button routerLink="/"><mat-icon>close</mat-icon>Salir</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-drawer-container>
-->

<!-- Site footer -->
  <footer class="site-footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="assets/imagenes/logotipo.png" alt="">
          <h6>Sobre gesViña</h6>
          <p class="text-justify">GesViña <i>Gestión simplificada de viñedos </i> es una iniciativa que pretende facilitar la gestión de viñedos familiares. Tenemos ya más de 100 clientes satisfechos</p>
        </div>

        <div class="col-xs-6 col-md-6">
          <h6>Enlaces rápidos</h6>
          <ul class="footer-links">
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Mapa del sitio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <!--<div fxFlex fxLayout="column" fxLayoutAlign="center center">-->
      <div class="d-flex flex-column justify-content-center">
        <!--<div class="col-md-8 col-sm-6 col-xs-12">-->
        <div>
          <p class="copyright-text">Copyright &copy; Alejandro Viana Ríos | 2020 Todos los derechos reservados.
          </p>
        </div>
        <div>
        <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
          <ul class="social-icons">
            <li>
              <fa-icon [icon]="['fab', 'dribbble']" size="m"></fa-icon>
            </li>
            <li>
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </li>
            <li>
              <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            </li>
            <li>
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </li>
            <li>
              <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>
